# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]

[*.{vcxproj}]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.{props,targets}]
charset = utf-8
indent_style = space
indent_size = 2


[*.{cpp,c,hpp,h}]
charset = utf-8
indent_style = space
indent_size = 4

[*.ps1]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
